.login-component {
    background-color: #D7E1D4;
    height: 100vh;
}
.form-container {
    padding: 30px 50px;
    position: relative;
    top: 20%;
    background-color: #FEFFFE;
    /* background-color: #1f1f1f;
    color: #fefefe; */
}


.create-account {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 27px;
    height: 100%;
}

.create-account-button {
    float: right;
    border-radius: 0px !important;
    width: 120px;
    background-color: #0067B8;
    font-family: 'Hind Madurai', sans-serif;
}

@media only screen and (max-width: 475px) {
    .form-container {
        height: 370px;
    }
    .create-account-footer {
        display: block;
    }
    .create-account-button {
        width: 100%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 411px) {
    .form-container {
        height: 360px;
        padding: 20px 20px;
    }
}
.form-input {
    border: none !important;
    border-bottom: 1px solid black !important;
    outline: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: 'Hind Madurai', sans-serif;
    padding: 3px 0px !important;

}

.alert span {
    font-family: 'Hind Madurai', sans-serif;
}
.text-muted {
    font-family: 'Hind Madurai', sans-serif;
}
.create-account-footer {
    align-items: center;
}
.tagline {
    margin-top: -10px;
}